@import "~bootstrap/scss/bootstrap";

$blue1: #2d83fb;
$blue2: #055fdd;
$cyan1: #00deff;
$cyan2: #00bbff;


* {
  margin: 0;
  padding: 0;

}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 4rem;
  background: linear-gradient(to bottom right, $blue2, $blue1);
  color: white;
  align-items: center;
.imgRow {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .imgColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33.33%
  }
}

button {
  margin: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white;
  background: linear-gradient(to bottom right, $cyan2, $cyan1);

  a {
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }
}